body {
    font-size: .875rem;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}



.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    padding-top: 20px;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}